<h2>WELCOME TO CALL SERVICE SIGNUP PAGE</h2>


    <div class ="vamsi" ng-controller="controllerForms">
                <input type ="text"  placeholder="enter name" ng-model="name"></br>
               <input type ="text" placeholder="enter email" ng-model="email"></br>
                 <input type ="text" placeholder="enter password" ng-model="password">
        <button type ="submit" ui-sref ="home" class="text-center">Back</button>
        <button type="button" ng-click ="hello()">submit</button>

    </div>







<style>

    .vamsi{
        text-align: center;
        margin: 5px;

    }
    .vamsi1{
        margin-left: 65px;
        margin: 8px 590px
    }
    
</style>